*{
	padding: 0;
	margin: 0;
	font-family: 'Cardo', serif;
font-family: 'Josefin Sans', sans-serif;
}
.backimg{
	width: 100%;
	height: 100vh;
	background-image: url('snap5.jpg');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;

}
.profile{
	width: 400px;
	background-color:  #808080;
	padding: 30px 0;
	border-radius: 10%;


}
img{ 
	height: 250px;
	border-radius: 80%;
	color: red;
	margin: 100px;

 }
 i{
 	color: white;
 }
 .profiletext {
 	margin-bottom: 30px;
 }
 .profiletext h2{
 	font-size: 2em;
 	font-weight: 500;
 	margin-bottom: 10px;
 }
.profiletext h3{
	font-size: 1.2em;
 	font-weight: 500;
 	margin-bottom: 10px;

}
.profilefonts{
	position: center;
}